image_test/
image_train/
results/
env
base_image/
user_image/
*.pt
*.log
result_image/
segmented_objects/
*.yaml
*.cache
workart/dataset/
workart/images/
workart/env/
pt/
v1/
labels/
image_user/
image_user_seg/
image_user_seg_yolo/
image_user_resize/
dataset/